bin/*
out/
*.swp
*.swo
*.csv
bin/*
.vscode/
.vs/
CMakeSettings.json
.git_token
build/
data/testAudio/*
data/outputAudio/*
data/inputAudio/generated_audio/*
data/matlabAudio/*
data/debugData/*
data/debugDataOld/
data/trainingAudio/
data/inputForTraining/
src/PitchEngineConfig.h
